
@model Bloggie.Web.Models.ViewModel.AddTagRequest;

@{
}


<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h2>Add New Tag - Admin Functionallty</h2>
    </div>
</div>

<section id="formTag" class="container py-5">
    <form method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" asp-for="Name">
        </div>

        <div class="mb-3">
            <label for="displayName" class="form-label">Display Name</label>
            <input type="text" class="form-control" id="displayName" name="displayName" asp-for="DisplayName">
        </div>

        <div class="mb-3">
           <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>