
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AccessDenied</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="container d-flex flex-column justify-content-sm-center align-items-start p-5">
        <h1>Your Not Allowed to Acces this Page</h1>
        <a class="btn btn-primary mt-4" asp-action="Index" asp-controller="Home">Go Back</a>
    </div>
</body>
</html>
