@model List<Bloggie.Web.Models.Domain.BlogPosts>;
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h2>Show All Blogs - Admin Functionallty</h2>
    </div>
</div>



